// skills__wrap

.skills__wrap {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  .sec {
    margin-right: 30px;
    background: #fff;
    border-radius: 20px;
    padding: 45px;
    box-sizing: border-box;
    height: 100%;
  }

  .sec:last-child {
    margin: 0;
  }
}

.skills-list {
  padding: 10px 10px 80px 10px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  li {
    .skills-title {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      .item-icon {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .skills-title-content {
        .item-content {
          font-family: $primary-font-face;
          font-size: 1rem;
          font-weight: 800;
          color: #222;
        }
        .proficiency-wrap {
          margin-top: 3px;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          span {
            font-family: $primary-font-face;
            font-size: 0.7rem;
            font-weight: 400;
          }
          .proficiency-graph {
            width: 100px;
            margin-top: 7px;
            height: 5px;
            background: #eee;
            border-radius: 5px;
            .graph-fill {
              position: relative;
              width: var(--fill);
              height: 100%;
              background: $skills-graph-bar-bg;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
  .skills-content {
    ul {
      margin-left: 15px;
      li {
        margin: 0;
        padding: 0;
        font-family: $primary-font-face;
        font-size: 0.88rem;
        line-height: 1.1rem;
        border: none;
      }
    }
  }
  li:last-child {
    margin-bottom: 10px;
  }
}

.summary-wrap {
  width: 100%;
  height: 100%;
  .summary-content-container {
    height: calc(100% - 70px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    font-family: $primary-font-face;
    h3 {
      font-size: 1.2rem;
      font-weight: 900;
      color: #0077ff;
      margin-bottom: 10px;
    }
  }
  .summary-frontend > ul,
  .summary-backend > ul {
    padding: 0 10px;
    > li > ul  {
      margin: 11px 0;
      li {
        margin: 3px 0;
        font-size: 0.88rem;
        color: #222;
      }
    }
  }

  strong {
    font-size: 1rem;
    font-weight: 800;
    color: #222;
  }
}

.graph-fill::after {
  content: attr(data-fill);
  position: absolute;
  top: 9px;
  left: 100%;
  width: 100%;
  height: 100%;
  display: inline-block;
  font-family: $primary-font-face;
  font-size: 0.6rem;
  font-weight: 500;
  color: $skills-graph-bar-bg;
}

.graph-fill::before {
  content: "";
  position: absolute;
  top: -1px;
  left: calc(100% - 7px);
  width: 100%;
  height: 100%;
  display: inline-block;
  width: 7px;
  height: 7px;
  background: $skills-graph-bar-bg;
  border-radius: 100%;
}
